@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for dropdown */
.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, #34d399, #06b6d4);
	border-radius: 6px;
}
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #34d399 #18181b;
}
